<section *ngIf="!signup">
    <h2>Login</h2>
    <form [formGroup]="loginForm">
        <label for="username">UserName:</label>
        <input type="text" formControlName="username" id="username">
        <label for="username">Passsword:</label>
        <input type="text" formControlName="password" id="password">
        <button (click)="login()">Login</button>

        <h3>Not a User</h3>
        <button (click)="showRegister()">Register</button>
    </form>
</section>
<section *ngIf="signup">
    <h2>Register</h2>
    <form [formGroup]="registerForm">
        <label for="username">UserName:</label>
        <input type="text" formControlName="username" id="username">
        <label for="username">Passsword:</label>
        <input type="text" formControlName="password" id="password">
        <button (click)="register()">Register</button>
    </form>
</section>

